<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>


    <script>

        $(document).ready(function(){
            $('.collapsible').collapsible({
              accordion : true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
          });

        $(document).ready(function() {
            $('select').material_select();
          });

    </script>

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <style>

        circle {
          fill: rgb(31, 119, 180);
          fill-opacity: .25;
          stroke: rgb(31, 119, 180);
          stroke-width: 1px;
        }

        .leaf circle {
          fill: #ff7f0e;
          fill-opacity: 1;
        }

        text {
          font: 10px sans-serif;
        }

    </style>

    <meta charset="UTF-8">
    <title>SilverEye</title>

</head>
<body>
<nav>
    <div class="nav-wrapper deep-purple darken-1">
      <a href="#" class="brand-logo right">SilverEye</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/query/listusersanalized/0/10">Analysed Users</a></li>
        <li><a href="/query/sentiment/">Sentiment</a></li>
        <li><a href="/query/listusers/0/10">Users</a></li>
        <li><a href="/query/global/">Global</a></li>
        <li><a href="/query/collections/">Collections Tags</a></li>
          <li><a href="/query/collections/tags/unclassified">Unclassified Tags</a></li>

      </ul>
    </div>
  </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>