{% extends "BaseSite.html" %}
{% block content %}
{% load appname_tags %}

    <div id="image_collection" class="card-panel deep-purple lighten-2">
          <span class="white-text">Unclassified Tags</span>
    </div>

    <ul class="collapsible" data-collapsible="accordion">
        {% for unclassified_tag in unclassified_tags %}
        <li>
          <div class="collapsible-header">
            <div class="card-panel deep-purple lighten-3">
                <span class="black-text">{{unclassified_tag|mongo_id}}</span>
              <span class="right">{{unclassified_tag.repeat}}</span>
            </div>
          </div>
          <div class=" center collapsible-body">

              <div class="teal indigo lighten-5">

                <a style="margin-left: 10px;" href="/query/collections/tags/add" class="collection-item teal indigo lighten-5">
                <button class="btn waves-effect teal darken-1" type="submit" name="action">
                     <i class="material-icons ">add</i>
                </button>
                </a>
              </div>

              <div class=" collection">
                  {% for key, values in unclassified_tag.related.items %}
                    <a class=" left collection-item"><span class="indigo-text">{{key}} <br> {{values}}</span></a>
                  {% endfor %}
              </div>
          </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}