{% extends "BaseSite.html" %}
{%block content %}

{% load appname_tags %}



    <div id="image_collection" class="card-panel deep-purple lighten-2">
          <span class="white-text">Collection Tags</span>
    </div>
        {% for dict in collections %}

            <ul class="collection" >
                <div class="card-panel deep-purple lighten-3">
                    <span class="black-text">{{dict|mongo_id}}</span>
                    <div class="right" style="margin-top: -5px;">
                        <a href="/query/collections/remove/{{dict.keys.0}}">
                            <button class="btn waves-effect pink accent-3" name="action">
                                <i class="material-icons right" >delete</i>
                            </button>
                        </a>
                    </div>
                </div>

                <li class="collection-item indigo lighten-5">
                    <div class="center teal indigo lighten-5">
                        <a style="margin-left: 10px;" href="/query/collections/tags/add" class="collection-item teal indigo lighten-5">
                            <button class="btn waves-effect teal darken-1" type="submit" name="action">
                                <i class="material-icons ">add</i>
                            </button>
                        </a>
                    </div>
                </li>
                {% for tag in dict.tags %}
                    <li class="collection-item deep-purple lighten-5">
                        <span style="margin-left: 10px;" class="collection-item black-text">{{tag|mongo_id}} -> {{ tag.repeat }} </span>
                        <div class="right" style="margin-top: -10px;">
                            <a  href="/query/collections/tags/remove/{{ dict|mongo_id}}/{{tag|mongo_id}}">
                                <button class="btn waves-effect pink darken-1" type="submit" name="action">
                                     <i class="material-icons right">delete</i>
                                </button>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a href="/query/collections/add" class="btn-floating btn-large waves-effect waves-light teal darken-1">
          <i class="material-icons">add</i>
      </a>
</div>

        <script>

        var diameter = 960,
            format = d3.format(",d");

        var pack = d3.layout.pack()
            .size([diameter - 4, diameter - 4])
            .value(function(d) { return d.size; });

        var svg = d3.select("body").append("svg")
            .attr("width", diameter)
            .attr("height", diameter)
          .append("g")
            .attr("transform", "translate(2,2)");

        d3.json("/static/flare.json", function(error, root) {
          if (error) throw error;

          var node = svg.datum(root).selectAll(".node")
              .data(pack.nodes)
            .enter().append("g")
              .attr("class", function(d) { return d.children ? "node" : "leaf node"; })
              .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

          node.append("title")
              .text(function(d) { return d.name + (d.children ? "" : ": " + format(d.size)); });

          node.append("circle")
              .attr("r", function(d) { return d.r; });

          node.filter(function(d) { return !d.children; }).append("text")
              .attr("dy", ".3em")
              .style("text-anchor", "middle")
              .text(function(d) { return d.name.substring(0, d.r / 3); });
        });

        d3.select(self.frameElement).style("height", diameter + "px");

    </script>

{% endblock %}