    {% for tweet in status %}

        {% if tweet.color == 0  %}
        <ul class="collection with-header" style="background: #669999;">
        {% endif %}

        {% if tweet.color == 1  %}
        <ul class="collection with-header" style="background: #ff5050;">
        {% endif %}

        {% if tweet.color == 2  %}
        <ul class="collection with-header" style="background: #66ff66;">
        {% endif %}

            <li class="collection-header deep-orange accent-1"><h5>{{tweet.tweet}}</h5></li>
            <li class="collection-header deep-orange accent-1"><h9>{{tweet.sentiment.opinion}}</h9></li>
            <li class="collection-header deep-orange accent-1"><h9>{{tweet.sentiment.polarity}}</h9></li>
            <li class="collection-header deep-orange accent-1"><h9>Entities: {{tweet.entities}}</h9></li>
        </ul>
    {% endfor %}