{% extends "BaseSite.html" %}
{%block content %}

<script type="text/javascript">

window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer", {
		title:{
			text: "Political Analysis"
		},
		data: [
		{
			// Change type to "doughnut", "line", "splineArea", etc.
			type: "column",
			dataPoints: [
			    {% for key, values in user.political_result.items %}

                    { label: "{{key}}",  y: {{values}} },

                {% endfor %}

			]
		}
		]
	});
	chart.render();
}
</script>


    <h3>{{user.user}}</h3>
    <h6>Result</h6>

    <div id="chartContainer" style="height: 300px; width: 100%;"></div>


    <ul class="collection">
    {% for key, values in user.result.items %}

        {% if values > 0 %}
            <li  class="collection-item"><h8>{{key}} <span class="badge"> {{values}}</span></h8></li>
        {% endif %}
        {% if values < 0   %}
            <li class="collection-item"><h8>{{key}} <span class="badge"> {{values}}</span></h8></li>
        {% endif %}
        {% if values == 0  %}
            <li class="collection-item"><h8>{{key}} <span class="badge"> {{values}}</span></h8></li>
        {% endif %}
    {% endfor %}
    </ul>

    <ul class="collection with-header">
    {% for data in data_set %}


        {% if data.polarity > 0 %}
            <li  class="card-panel teal lighten-2">
        {% endif %}
        {% if data.polarity < 0   %}
            <li class="card-panel red lighten-1">
        {% endif %}
        {% if data.polarity == 0  %}
            <li class="card-panel purple lighten-1">
        {% endif %}

                <h6>ID:{{data.text}}</h6>
                <h6>Polarity: {{data.polarity}}</h6>
                <h6>Coordinates: {{data.coordinates}}</h6>
                <h6>Political: {{data.political}}</h6>
                <h5>Entities:</h5>
                {% for entity in data.entities %}
                    <ul >
                        <li ><h8>{{entity}}</h8></li>
                    </ul>
                {% endfor %}
            </li>
            <h1>____________________</h1>

    {% endfor %}
    </ul>
{% endblock %}